repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/PyCQA/isort
    rev: 8.0.0
    hooks:
      - id: isort
        language_version: python3

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8 .
        language: python
        types: [python]

      - id: eslint
        name: eslint
        entry: npx eslint --fix
        files: ^wc.*(user|common).js$
        language: system
        always_run: true
